body {
    background-color: #f5f5dd;
    background-position: center;
}

div {
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.div_1 {
    background-color: black;
}

.div_2 {
    background-color: rgb(0 0 0 / 80%);
}

.div_3 {
    background-color: rgb(0 0 0 / 60%);
}

.div_4 {
    background-color: rgb(0 0 0 / 40%);
}